{% extends "master.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
    {% for c in class %}
    <div class="class">
        <p>Class Added:</p>
        <h1><a href="/class/{{cl.classid}}">{{cl.name}}</a></h1>
        <p>{{c.body}}</p>
    </div>
    </br>
    {% endfor %}
{% endblock %}