{% extends "master.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div id="">
        <h2>Lesson added!</h2>
        <div id="lessonsample">
            <h1><a href="/lesson/{{l.lessonid}}">{{l.title}}</a></h1>
            <p>{{l.body}}</p>
        </div>
    </div>
{% endblock %}