{% extends "master.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
    {% for l in list %}
    <div>
        <p>Lesson added!</p>
        <h1><a href="/lesson/{{l.lessonid}}">{{l.title}}</a></h1>
        <p>{{l.body}}</p>
    </div>
    </br>
    {% endfor %}
{% endblock %}