{% extends "master.html.twig" %}

{% block title %}Article Not Found{% endblock %}

{% block content %}
    <div id="error">
        <h1>Article not found</h1>
        <p><a href="/">Return Home</a> or <a href="/create_class">Create A Class</a></p>
    </div>   
{% endblock %}