{% extends "master.html.twig" %}

{% block title %}Create a Class{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" id="classForm">
        <label for="name">Class Name:</label>
        <input type="text" name="name" value="{{c.name}}" placeholder="Class Name">
        </br>
        <label for="semester">Semester <i>OPTIONAL</i> :</label>
        <select name="semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>
            <option value="Winter">Winter</option>
        </select>
        </br>
        <label for="year">Year:</label>
        <input type="number" value="{{c.year}}" name="year">
        </br>
        <label for="body">Class Description:</label>
        </br>
        <textarea name="body" cols="60" rows="10">{{c.body}}</textarea>
        </br>
        <input type="submit" value="Add Class">
    </form>
{% endblock %}