{% extends "master.html.twig" %}

{% block title %}Create a Lesson{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" class="userForm" action="/create_lesson">
        <input type="hidden" name="classinputid" id="classinputid" value="{{c.classid}}">

        <label for="title">Lesson Name</label>
        <input type="text" name="title" value="{{c.title}}" placeholder="Drying 101">

        <label for="body">Body</label>
        <textarea name="body" cols="60" rows="10" value="{{c.body}}" placeholder="To dry is to go from grape to raisin"></textarea>

        <input type="submit" value="Add Lesson">
    </form>

{% endblock %}