{% extends "master.html.twig" %}

{% block title %}Internal Error{% endblock %}

{% block content %}
    <div id="error">
        <p></p>
        <p><a href="/">Return Home</a></p>
    </div>   
{% endblock %}