{% extends "master.html.twig" %}

{% block title %}Access Denied{% endblock %}

{% block content %}
    <div id="error">
        <p>Error Access Denied</p>
        <p><a href="/login">Please Login</a></p>
    </div>   
{% endblock %}