{% extends "master.html.twig" %}

{% block title %}ClassNotes{% endblock %}

{% block content %}
    {% for a in list %}
    <div id="class">
        <h1><a href="/class/{{c.classid}}">{{c.name}}</a></h1>
        <hr>
            <i>Posted on {{c.postedDate}} </i>
    </div>
    </br>
    {% endfor %}
    
{% endblock %}