{% extends "master.html.twig" %}

{% block title %}Main Page{% endblock %}

{% block content %}
    {% for c in list %}
    <div id="class">
        <h1><a href="/class/{{c.classid}}">{{c.name}}</a></h1>
        <p>{{c.description}}</p>
    </div>
    </br>
    {% endfor %}
{% endblock %}