{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if error %}
        <p class="errorMessage">Invalid username or password. Try again or <a href="/register">register</a>.</p>
    {% endif %}
    <h2>Login</h2>
    <form method="post" class="userForm">
        <label for="username">Username</label> 
        <input type="text" name="username">

        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Login">
    </form>
    <p><a href="/register">No Account? Register Here</a></p>
{% endblock %}
