<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css" />
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="nav">
            <img src="/images/Logo.png" id="logo" alt="Classnotes Logo" width="250" height="250">
            </br>
            <ul id="menu">
                {% if userSession %}
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                {% endif %}
                <li>Random Class</li>
                <li>Random Lesson</li>
                <li><a href="/create_class">Create Class</a></li>
                <li><a href="/class_list">Join Class</a></li>
            </ul>
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}
                Developed by Norman Fong and Henry Zakay.
            {% endblock %}
        </div>
    </body>
</html>