{% extends "master.html.twig" %}

{% block title %}Article Not Found{% endblock %}

{% block content %}
    <div id="error">
        <h1>Profile not found</h1>
        <p><a href="/">Return Home</a></p>
    </div>   
{% endblock %}