{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block content %}

    <form method="post">
        User name: <input type="text" name="name" value="{{ v.name }}"><br>
        Email: <input type="text" name="email" value="{{ v.email }}">
        <span class="errorMessage" id="emailTaken"></span><br>
        Password <input type="password" name="pass1"><br>
        Password (repeated) <input type="password" name="pass2"><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}