{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email);
            });

            $('input[name=name]').on('paste blur change input', function() {
                var username = $('input[name=name]').val();
                $("#userTaken").load("/isusernametaken/" + username);
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
{% endblock %}

{% block content %}

    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" class="userForm">

        <label for="username">Username</label>
        <input type="text" name="username" value="{{ v.name }}" placeholder="username">
        <span class="errorMessage" id="userTaken"></span>

        <label for="email">Email</label>
        <input type="text" name="email" value="{{ v.email }}" placeholder="john.doe@cats.com">
        <span class="errorMessage" id="emailTaken"></span>

        <label for="pass1">Password</label>
        <input type="password" name="pass1" placeholder="**********">

        <label for="pass2">Password (repeated)</label>
        <input type="password" name="pass2" placeholder="**********">

        <input type="submit" value="Register">
    </form>
{% endblock %}
