body {
    background-color: black;
}

#logo {
    background-color: black;
}

#header {
    margin-left: 17.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em 1em 0.5em 1em;
}

#header > ul{
    list-style-type: none;
    list-style-position: inside;
    border: 4px solid black;
    color: black;
    height: 70px;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    background-color: whitesmoke;
}

#header > ul > li {
    float: left;
    margin: 1em;
    padding: 0.5em;
    border: 3px solid rgba(161, 120, 7, 0.76);
    border-radius: 10px;
    background-color: rgb(255, 247, 137);
    color: black;
}

#class {
    border: 4px solid black;
    border-radius: 30px;
    background-color: gold;
    margin: 0.5em;
    padding: 0.5em;
    width: auto;
}

#nav {
    border: 4px solid black;
    border-radius: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: goldenrod;
    margin: 0.5em;
}

#menu {
    margin-left: -2em;
}

#menu > li {
    text-align: center;
    list-style-type: none;
    list-style-position: inside;
    margin: 1em;
    padding: 0.5em;
    border: 3px solid rgba(161, 120, 7, 0.76);
    border-radius: 10px;
    background-color: rgb(255, 247, 137);
    color: black;
}

#content {
    border: 4px solid black;
    border-radius: 30px;
    background-color: goldenrod;
    width: auto;
    height: auto;
    margin-left: 17.5em;
    padding: 0.5em 1em 0.5em 1em;
}

#footer {
    clear: both;
    border: 4px solid black;
    border-radius: 30px;
    margin-left: 17.5em;
    background-color: goldenrod;
    padding: 0.5em 0 0.5em 1em;
}

.body {
    background-color: whitesmoke;
    padding: 1em;
}

.comments {
    padding: 1em;
}

.commentForm {
    border: 2px solid black;
    margin: 0.5em;
    padding: 0.5em;
}

.commentBody {
    border: 2px solid black;
    margin: 0.5em;
    padding: 0.5em;
    background-color: whitesmoke;
}

h1 {
    text-align:center;
    margin-bottom: 0;
}

p {
    text-indent: 1.5em;
 }

/* 
CSS for user-related forms 
*/
.errorMessage {
    padding-top: 2em;
}

.userForm {
    display: inline-block;
}

.userForm > label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: 700;
}

.userForm > input[type=text], .userForm > input[type=password] {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 6px 12px;
}

.userForm > input[type=submit] {
    display: block;
    color: black;
    margin: 0.8em 0 0 0.5em;
    padding: 15px 20px;
    border: 3px solid rgba(161, 120, 7, 0.76);
    border-radius: 10px;
    background-color: rgb(255, 247, 137);
}
/* 
end of CSS for user-related forms 
*/